body {
  background-color: lightblue;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}

nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}

#brand {
  float: left;
}

h1 {
  font-size: 60pt;
  font-family: 'Acme', sans-serif;
}

h2 {
  font-family: 'Acme', sans-serif;
  color: darkred;
}

.nav-link {
  color: darkred;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
}

.nav-link:hover {
  color: lightblue;
  font-weight: bold;
}

#brand .nav-link {
  color: lightblue;
  font-size: 14pt;
}

#brand .nav-link:hover {
  color: darkred;
}

#home {
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 3em;
  background: url('https://images.unsplash.com/photo-1516821371801-280cf8069a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&q=80') center 75% no-repeat fixed;
  background-size: cover;
}

.header-tag {
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 2px black;
}

h3.header-tag {
  margin-top: -30px;
  font-size: 18pt;
}

.main {
  text-align: center;
}

#about {
  margin-top: 50px;
  display: inline-block;
}

#about-picture {
  width: 30vw;
  float: left;
}

#profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 0.4em;
  box-shadow: 2px 2px 2px black;
}

#about-content {
  width: 40vw;
  float: right;
}

#social-btns a {
  color: darkred;
  margin: 1em;
}

#social-btns a:hover {
  color: grey;
}